main{
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.section1{
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
h2 {
	text-align: center;
	width: 100%;
	color: #2d2e30;
	font-size: 3.5rem;
	font-weight: 100;
	padding-top: 5rem;

}
.afterH2{
	text-align: center;
	width: 100%;
	color: grey;
	font-size: 2rem;
}
nav{
	padding-top: 5rem;
	width: 60%;
	margin-bottom: 3rem;
}
.navSection1GridParent{
	width: 100%;
	display: grid;
	justify-content: center;
	grid-template-columns: 20% 20% 20% 20% 20%;
	text-align: center;
}
.navGridSection1text{
	background-color: white;
	border:none;
	color:#548dff;
}
.navGridSection1{
	color: grey;
	cursor: pointer;
	padding-bottom: 1.5rem;
	margin-bottom: 2rem;
	transition: 0.5s;
}
.navGridSection1:hover{
	color:#548dff;
	/*border-bottom: 1px solid #548dff;*/
	transform: 2s;
}
.displayNone{
	width: 100%;
	display: none;
	
}
.active {
			display: block;
		}
.GridPhotoParentsection1{
	width:100%;
	margin-top: 5rem;
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
	grid-template-rows:   400px  400px;
	align-items:stretch;
 	grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding-bottom: 5rem;


}

.GridPhotoItem1{
	grid-column: 1 / 3;
	grid-row: 1;
	background-image: url(https://drscdn.500px.org/photo/17602391/h%3D1065/v2?webp=true&sig=6a643a2d78a56e8ca55ae474ada8af302782a07284e453932e428a15d291dab3);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}

.GridPhotoItem2{
	grid-column: 3 / 3;
	grid-row: 1;
	background-image: url(https://drscdn.500px.org/photo/122153405/h%3D1065/v2?webp=true&sig=bafb33042a24d12de17e4e4279e3fa60ee4bd031e8259543ca6b3cf28163e5b4);
	background-size: cover;
	background-repeat: no-repeat;
	justify-content: center;
		position: relative;


}
.GridPhotoItem3{
	grid-column: 4 / 4;
	grid-row: 1;
    background-image:url("https://drscdn.500px.org/photo/160988473/h%3D1065/v2?webp=true&sig=27f9e2399cf4983cac0426c6ec6ee593daa3aba3e61ab8fc7a6058c584e221a6");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
		position: relative;

	}
.GridPhotoItem4{
	grid-column: 5 / 7;
	grid-row: 1;
    background-image:url("https://drscdn.500px.org/photo/121224777/h%3D1065/v2?webp=true&sig=0e32c5563963cc5fe23584866e96e6ee49890f77876eb8094382beb15ac4b638");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
		position: relative;


}
.GridPhotoItem5{
	grid-column: 1 / 3;
	grid-row: 2;
    background-image:url("https://drscdn.500px.org/photo/196166901/h%3D1065/v2?webp=true&sig=e931908b44c33f41dadb79b16a887b2ce328a0d04494edcc8bbc288421916135");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
		position: relative;


}
.GridPhotoItem6{
	grid-column: 3 / 5;
	grid-row: 2;
    background-image:url("https://drscdn.500px.org/photo/121865751/h%3D1065/v2?webp=true&sig=fb92743cdeb4e4c63adaf07cbae3a8264a1ff5b76b2f4b99129d1a55be83efc1");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
		position: relative;


}
.GridPhotoItem7{
	grid-column: 5 / 7;
	grid-row: 2;
    background-image:url("https://static.photocdn.pt/images/articles/2017_1/iStock-545347988.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
		position: relative;


}
.overlayGridPhoto{
	position: absolute;
	background-color: rgba(0,0,0,0.25);
	transition: 1s;
	width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
	overflow: hidden;
	transition: .5s;
	height: 0;
	display: flex;
	justify-content: flex-start;
	flex-wrap: nowrap;
	align-items: center;
	color: white;

}
.iconPhotograferImg{
	padding-left: 1rem;
	padding-right: 1rem;
	display: block;
	width: auto;
	height: 60%;
	border-radius: 100%;
}
.GridPhotoItem1:hover .overlayGridPhoto{
	height: 20%;
	transition: .5s ease;

}
.GridPhotoItem2:hover .overlayGridPhoto{
	height: 20%;
	transition: .5s ease;

}
.GridPhotoItem3:hover .overlayGridPhoto{
	height: 20%;
	transition: .5s ease;

}
.GridPhotoItem4:hover .overlayGridPhoto{
	height: 20%;
	transition: .5s ease;

}
.GridPhotoItem5:hover .overlayGridPhoto{
	height: 20%;
	transition: .5s ease;

}
.GridPhotoItem6:hover .overlayGridPhoto{
	height: 20%;
	transition: .5s ease;

}
.GridPhotoItem7:hover .overlayGridPhoto{
	height: 20%;
	transition: .5s ease;

}


.GridPhotoParentsection2{
	width:100%;
	margin-top: 5rem;
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows:   400px  400px;
	align-items:stretch;
 	grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding-bottom: 5rem;

}

.GridPhotoItem1_2{
	grid-column: 1 ;
	grid-row: 1;
	background-image: url(https://drscdn.500px.org/photo/207613963/h%3D1065/v2?webp=true&sig=09533ec0650ac759225a6a435d8dd25bec31a47001892dfcc05faa23a2e182e9);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}

.GridPhotoItem2_2{
	grid-column: 2;
	grid-row: 1;
	background-image: url(https://drscdn.500px.org/photo/174588983/h%3D1065/v2?webp=true&sig=ee06aa901254ea5cbdff2662529bc14321416108d5ea96e74110eddad74ef8fa);
	background-size: cover;
	background-repeat: no-repeat;
	justify-content: center;
		position: relative;


}
.GridPhotoItem3_2{
	grid-column: 1;
	grid-row: 2;
    background-image:url("https://drscdn.500px.org/photo/179076899/h%3D1065/v2?webp=true&sig=78398726424813f850f869330d81a4f2a43da39829436b5b82ede4cbeac218c5");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
		position: relative;

	}
.GridPhotoItem4_2{
	grid-column: 2;
	grid-row: 2;
    background-image:url("https://drscdn.500px.org/photo/160435221/h%3D1065/v2?webp=true&sig=8933f5ecdca1dc943c3f3b1f863400d523952c96dd8801a14d38243f93d24e0e");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
		position: relative;


}
.GridPhotoItem1_2:hover .overlayGridPhoto{
	height: 20%;
	transition: .5s ease;

}
.GridPhotoItem2_2:hover .overlayGridPhoto{
	height: 20%;
	transition: .5s ease;

}
.GridPhotoItem3_2:hover .overlayGridPhoto{
	height: 20%;
	transition: .5s ease;

}
.GridPhotoItem4_2:hover .overlayGridPhoto{
	height: 20%;
	transition: .5s ease;

}

.GridPhotoParentsection3{
	width:100%;
	margin-top: 5rem;
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
	grid-template-rows:   400px  400px;
	align-items:stretch;
 	grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding-bottom: 5rem;

}

.GridPhotoItem1_3{
	grid-column: 1 / 2;
	grid-row: 1;
	background-image: url(https://drscdn.500px.org/photo/204512097/h%3D1065/v2?webp=true&sig=8db8d7c3e96a7b36be86661b7da4aa130a3c37a530d839d1f50148e4acd3058f);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}

.GridPhotoItem2_3{
	grid-column: 2 / 3;
	grid-row: 1;
	background-image: url(https://drscdn.500px.org/photo/95438765/h%3D1065/v2?webp=true&sig=5b1478123264f20475e5c5b61e15f1b93ebaf2356c237a133c7240d9fe662b49);
	background-size: cover;
	background-repeat: no-repeat;
	justify-content: center;
		position: relative;


}
.GridPhotoItem3_3{
	grid-column: 3 / 5;
	grid-row: 1;
    background-image:url("https://drscdn.500px.org/photo/145971811/h%3D1065/v2?webp=true&sig=66a3cbae240296dbc93f5e0d169a1c4b086226b03a1e1c7e59ecc4257ac27da5");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
		position: relative;

	}
.GridPhotoItem4_3{
	grid-column: 5 / 7;
	grid-row: 1;
    background-image:url("https://drscdn.500px.org/photo/186489967/h%3D1065/v2?webp=true&sig=60be371f32a2ade938aad85239711083b3bd2ff7854a63205d1a3a75bc29574e");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
		position: relative;


}
.GridPhotoItem5_3{
	grid-column: 1 / 2;
	grid-row: 2;
    background-image:url("https://drscdn.500px.org/photo/206415605/h%3D1065/v2?webp=true&sig=c8b4d5fe58f605494ce44f0f991dd2ee7c73e24254c3e050fc52a972189c2e22");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
		position: relative;


}
.GridPhotoItem6_3{
	grid-column: 2 / 4;
	grid-row: 2;
    background-image:url("https://drscdn.500px.org/photo/206405043/h%3D1065/v2?webp=true&sig=df4d62f5b8fcb373746ae941670646da8670ef9d6c90e971ac507e9e4f85f99e");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
		position: relative;


}
.GridPhotoItem7_3{
	grid-column: 4 / 6;
	grid-row: 2;
    background-image:url("https://drscdn.500px.org/photo/189980635/h%3D1065/v2?webp=true&sig=1a4b9ae32802778e733d8556a7a9769e155f275f5eadfdb460da947df6c2b2ae");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
		position: relative;


}

.GridPhotoItem8_3{
	grid-column: 6 / 7;
	grid-row: 2;
    background-image:url("https://drscdn.500px.org/photo/207496967/h%3D1065/v2?webp=true&sig=f655706a54fddf2ab5be0851fee475d6c6a5fcf426005349a3c249a376a66869");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;


}

.GridPhotoItem1_3:hover .overlayGridPhoto{
	height: 20%;
	transition: .5s ease;

}
.GridPhotoItem2_3:hover .overlayGridPhoto{
	height: 20%;
	transition: .5s ease;

}
.GridPhotoItem3_3:hover .overlayGridPhoto{
	height: 20%;
	transition: .5s ease;

}
.GridPhotoItem4_3:hover .overlayGridPhoto{
	height: 20%;
	transition: .5s ease;

}

.GridPhotoItem5_3:hover .overlayGridPhoto{
	height: 20%;
	transition: .5s ease;

}
.GridPhotoItem6_3:hover .overlayGridPhoto{
	height: 20%;
	transition: .5s ease;

}
.GridPhotoItem7_3:hover .overlayGridPhoto{
	height: 20%;
	transition: .5s ease;

}
.GridPhotoItem8_3:hover .overlayGridPhoto{
	height: 20%;
	transition: .5s ease;

}




.GridPhotoParentsection4{
	width:100%;
	margin-top: 5rem;
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows:   400px  400px;
	align-items:stretch;
 	grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding-bottom: 5rem;

}

.GridPhotoItem1_4{
	grid-column: 1 / 3;
	grid-row: 1;
	background-image: url(https://drscdn.500px.org/photo/125925395/h%3D1065/v2?webp=true&sig=4294792f8ed39e44fff0d4a4c1ba07057bc82dd3c5c04f1824c0e32fb4aec453);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}

.GridPhotoItem2_4{
	grid-column: 3 / 5;
	grid-row: 1;
	background-image: url(https://drscdn.500px.org/photo/196852745/h%3D1065/v2?webp=true&sig=1cd6caf9f2f1a9ce40c401640da4ace5409541d14ce3b12d3ff0b25e0b1f0dd2);
	background-size: cover;
	background-repeat: no-repeat;
	justify-content: center;
		position: relative;


}
.GridPhotoItem3_4{
	grid-column: 5 / 7;
	grid-row: 1;
    background-image:url("https://drscdn.500px.org/photo/131078317/h%3D1065/v2?webp=true&sig=232c0afca284d64391919000d8074f5cce7a593d1a0edf5840a757fa113b6562");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
		position: relative;

	}
.GridPhotoItem4_4{
	grid-column: 1 / 4;
	grid-row: 2;
    background-image:url("https://drscdn.500px.org/photo/179458515/h%3D1065/v2?webp=true&sig=c6a6cfb2f652fc9d96aeec040e1c2c09eee257ea81476579ad38cf0856bb23cf");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
		position: relative;


}
.GridPhotoItem5_4{
	grid-column: 4 / 7;
	grid-row: 2;
    background-image:url("https://drscdn.500px.org/photo/159126611/h%3D1065/v2?webp=true&sig=3ef0b19ed4141fd3af7110fe29e346450854a4002c7a100b005c0f1859c37ef4");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
		position: relative;


}

.GridPhotoItem1_4:hover .overlayGridPhoto{
	height: 20%;
	transition: .5s ease;

}
.GridPhotoItem2_4:hover .overlayGridPhoto{
	height: 20%;
	transition: .5s ease;

}
.GridPhotoItem3_4:hover .overlayGridPhoto{
	height: 20%;
	transition: .5s ease;

}
.GridPhotoItem4_4:hover .overlayGridPhoto{
	height: 20%;
	transition: .5s ease;

}

.GridPhotoItem5_4:hover .overlayGridPhoto{
	height: 20%;
	transition: .5s ease;

}




.GridPhotoParentsection5{
	width:100%;
	margin-top: 5rem;
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows:   400px  400px;
	align-items:stretch;
 	grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding-bottom: 5rem;

}

.GridPhotoItem1_5{
	grid-column: 1 / 4;
	grid-row: 1;
	background-image: url(https://drscdn.500px.org/photo/53025724/h%3D1065/v2?webp=true&sig=d3549517508a124973e6d2f0d81b06eea49127396858ca8008a2d608a383c2dc);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}

.GridPhotoItem2_5{
	grid-column: 4 / 7;
	grid-row: 1;
	background-image: url(https://drscdn.500px.org/photo/55365754/h%3D1065/v2?webp=true&sig=c3ef05e2a234652cae9bf04960fac01269b9fc0e0005253280730567f0382f60);
	background-size: cover;
	background-repeat: no-repeat;
	justify-content: center;
		position: relative;


}
.GridPhotoItem3_5{
	grid-column: 1 / 3;
	grid-row: 2;
    background-image:url("https://drscdn.500px.org/photo/149797839/h%3D1065/v2?webp=true&sig=1d115aba345a60fb2af9ec9de09e9fefb8bb0ec39797157fab98f1cc64ec0b46");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
		position: relative;

	}
.GridPhotoItem4_5{
	grid-column: 3 / 5;
	grid-row: 2;
    background-image:url("https://drscdn.500px.org/photo/175595545/h%3D1065/v2?webp=true&sig=df8ecd4bdbf6e96cb43c0474a6f1d3c0788ce4bf0619592ce8c37c41ac50eeae");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
		position: relative;


}
.GridPhotoItem5_5{
	grid-column: 5 / 7;
	grid-row: 2;
    background-image:url("https://drscdn.500px.org/photo/183658441/h%3D1065/v2?webp=true&sig=467517f3898b49c0876e95e72561e2e890d36eafd98e69e59771c69e99e1f385");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
		position: relative;


}

.GridPhotoItem1_5:hover .overlayGridPhoto{
	height: 20%;
	transition: .5s ease;

}
.GridPhotoItem2_5:hover .overlayGridPhoto{
	height: 20%;
	transition: .5s ease;

}
.GridPhotoItem3_5:hover .overlayGridPhoto{
	height: 20%;
	transition: .5s ease;

}
.GridPhotoItem4_5:hover .overlayGridPhoto{
	height: 20%;
	transition: .5s ease;

}

.GridPhotoItem5_5:hover .overlayGridPhoto{
	height: 20%;
	transition: .5s ease;

}